<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <title>angular-identicon demo</title>
</head>
<body ng-controller="demoCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="name"/>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="size" ng-model="size"/>
            </div>
        </div>
    </div>

    <div class="well">
        <identicon email="name" size="123"></identicon>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="//rawgithub.com/stewartlord/identicon.js/master/pnglib.js"></script>
<script src="//rawgithub.com/stewartlord/identicon.js/master/identicon.js"></script>

<script src="//rawgit.com/kether667/angular-identicon/master/dist/angular-identicon.js"></script>
<script src="app.js"></script>

</body>
</html>