<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <title>angular-identicon demo</title>
</head>
<body ng-controller="demoCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>angular-identicon</h1>


            <p>github alike identicons, wrapper around <a href="https://github.com/stewartlord/identicon.js/tree/master">identicon.js</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <div class="form-group">
                <label for="name">username/email/anything</label>
                <input type="text" class="form-control" id="name" ng-model="username"/>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                <label for="size">Size</label>
                <input type="number" min="10" max="300" step="10"  class="form-control" id="size" ng-model="size"/>
            </div>
        </div>
    </div>

    <div class="text-center">
        <identicon username="username" size="size"></identicon>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>

<script src="//rawgithub.com/stewartlord/identicon.js/master/pnglib.js"></script>
<script src="//rawgithub.com/stewartlord/identicon.js/master/identicon.js"></script>

<script src="//rawgit.com/kether667/angular-identicon/master/dist/angular-identicon.js"></script>

<script src="app.js"></script>

</body>
</html>